<section style="background-color: #eee; padding-top:8%">
    <div class="container py-5">
        {{#if wishlist}}
        <div class="list-head pl-5 pb-4 pt-2" style="display: flex;justify-content:center">
            <h1 style="color:#000">WISHLIST</h1>
        </div>
        {{#each wishlist}}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="/images/product-images/{{this.product.images.[0].filename}} "
                                        class="w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>{{this.product.product_name}}</h5>
                                <div class="mb-2 text-muted small">
                                    • <span>Unique design</span><br>
                                    <span> • </span>
                                    <span>For men</span><br>
                                    <span> • </span>
                                    <span>Volume: {{this.product.volume}}<br /></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">₹ {{this.product.promo_price}} </h4>
                                    <span class="text-danger"><s> ₹ {{this.product.reg_price}}</s></span>
                                </div>
                                <h6 class="text-success">Free shipping</h6>
                                <div class="d-flex flex-column mt-4">
                                    <button onclick="addToWishlist('{{this.product._id}}')"
                                        class="btn remove-wishlist btn-sm">Remove from
                                        Wishlist</button>
                                    {{!-- <button class="btn add-to-cart btn-sm mt-2">
                                        Add to cart
                                    </button> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="list-head p-4" style="text-align:center">
        <div class="p-4">
            <img src="../images/wishlist.png" style="max-width:200px">
        </div>
        <h3 style="color:rgb(124, 2, 2)">Your wishlist is empty</h3>
        <p style="color:#000">Seems like you don't have any wishes here <br> Make a wish</p>
        <a href="/shop">
        <button class="btn remove-wishlist btn-sm">Start Shopping</button>
        </a>
    </div>
    {{/if}}
</section>

<style>
    .remove-wishlist {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

    .add-to-cart {
        color: #000;
        background-color: transparent;
        background-image: none;
        border-color: #000;
    }
</style>

<script>
    function addToWishlist(proId) {
        $.ajax({
            url: '/add-to-wishList/' + proId,
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.reload()
                } else {
                    location.href = '/login'
                }
            }
        })
    }
</script>